services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-diploma}
      POSTGRES_USER: ${POSTGRES_USER:-diploma}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-diploma}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-diploma} -d ${POSTGRES_DB:-diploma}"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-localhost,127.0.0.1,web}
      - DEBUG=${DEBUG:-1}
      - SECRET_KEY=${SECRET_KEY}
      - DATABASE_URL=postgres://${POSTGRES_USER:-diploma}:${POSTGRES_PASSWORD:-diploma}@db:5432/${POSTGRES_DB:-diploma}
    volumes:
      - ./src:/app/src
    depends_on:
      db:
        condition: service_healthy
    stdin_open: true
    tty: true

volumes:
  postgres_data:
